USE [master]
GO
/****** Object:  Database [C6_PP_T12]    Script Date: 8/17/2021 2:58:24 PM ******/
CREATE DATABASE [C6_PP_T12]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'C6_PP_T12', FILENAME = N'C:\Users\abelb\C6_PP_T12.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'C6_PP_T12_log', FILENAME = N'C:\Users\abelb\C6_PP_T12_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C6_PP_T12].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C6_PP_T12]
GO
USE [C6_PP_T12]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 8/17/2021 2:58:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[clientId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[clientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dessert]    Script Date: 8/17/2021 2:58:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dessert](
	[dessertId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[cost] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[dessertId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drink]    Script Date: 8/17/2021 2:58:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drink](
	[drinkId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[cost] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[drinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainPlate]    Script Date: 8/17/2021 2:58:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainPlate](
	[mainPlateId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[cost] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[mainPlateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestaurantOrder]    Script Date: 8/17/2021 2:58:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantOrder](
	[restaurantOrderId] [int] IDENTITY(1,1) NOT NULL,
	[clientId] [int] NOT NULL,
	[starterId] [int] NOT NULL,
	[mainPlateId] [int] NOT NULL,
	[dessertId] [int] NOT NULL,
	[drinkId] [int] NOT NULL,
	[statusId] [int] NOT NULL,
	[date] [datetime] NULL,
	[subtotal] [money] NULL,
	[itbis] [money] NULL,
	[total] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurantOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Starter]    Script Date: 8/17/2021 2:58:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Starter](
	[starterId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[cost] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[starterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 8/17/2021 2:58:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[statusId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[statusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RestaurantOrder] ADD  DEFAULT ((1)) FOR [statusId]
GO
ALTER TABLE [dbo].[RestaurantOrder] ADD  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[RestaurantOrder]  WITH CHECK ADD FOREIGN KEY([clientId])
REFERENCES [dbo].[Client] ([clientId])
GO
ALTER TABLE [dbo].[RestaurantOrder]  WITH CHECK ADD FOREIGN KEY([dessertId])
REFERENCES [dbo].[Dessert] ([dessertId])
GO
ALTER TABLE [dbo].[RestaurantOrder]  WITH CHECK ADD FOREIGN KEY([drinkId])
REFERENCES [dbo].[Drink] ([drinkId])
GO
ALTER TABLE [dbo].[RestaurantOrder]  WITH CHECK ADD FOREIGN KEY([mainPlateId])
REFERENCES [dbo].[MainPlate] ([mainPlateId])
GO
ALTER TABLE [dbo].[RestaurantOrder]  WITH CHECK ADD FOREIGN KEY([starterId])
REFERENCES [dbo].[Starter] ([starterId])
GO
ALTER TABLE [dbo].[RestaurantOrder]  WITH CHECK ADD FOREIGN KEY([statusId])
REFERENCES [dbo].[Status] ([statusId])
GO
USE [master]
GO
